assetic:
    debug: "%kernel.debug%"
    filters:
        cssrewrite: ~
        lessphp:
            apply_to: "\.less$"
            formatter: "compressed"
            preserve_comments: false
    bundles:
        - HautelookFrontendBundle
    assets:
        custom_css:
            inputs:
                - %kernel.root_dir%/../vendor/hautelook/frontend-bundle/Hautelook/FrontendBundle/Resources/less/build.less
                - https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css
                - https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/magnific-popup.css
                - http://fonts.googleapis.com/css?family=Open+Sans:300
            filters:
                - cssrewrite
                - lessphp
        custom_js:
            inputs:
                - %kernel.root_dir%/../web/bundles/hautelookfrontend/js/jquery.ui.widget.js
                - %kernel.root_dir%/../web/bundles/hautelookfrontend/js/jquery.iframe-transport.js
                - %kernel.root_dir%/../web/bundles/hautelookfrontend/js/jquery.fileupload.js
                - https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js
                - https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js
                - https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js
                - %kernel.root_dir%/../web/bundles/hautelookfrontend/js/main.js
